<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5_robot">
   
   <gazebo>
    <!-- ROS 2 Humble -->
    <xacro:if value="$(arg is_classic)">
      <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find ur5_controller)/config/ur5_controller.yaml</parameters>
      </plugin>
    </xacro:if>

    <!-- ROS 2 Iron or above -->
    <xacro:unless value="$(arg is_classic)">
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find ur5_controller)/config/ur5_controller.yaml</parameters>
      </plugin>
    </xacro:unless>
  </gazebo>

</robot>
