<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5_robot">
   
   <gazebo>


     <xacro:if value="$(arg is_classic)">
       <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
         <parameters></parameters>
       </plugin>
     </xacro:if>
     <xacro:unless value="$(arg is_classic)">
       <plugin filename="ign_ros2_control-system" name="ign_ros2_controll::IgnitionROS2ControlPlugin">
         <parameters></parameters>
       </plugin>
     </xacro:unless>

   </gazebo>

</robot>